<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section #home class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('assets/img/profile_bg.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-gray-300">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img
                  alt="..."
                  src="assets/img/Owner.jpg"
                  class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"
                />
              </div>
            </div>
            <div
              class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center"
            >
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button
                  class="bg-red-600 active:bg-red-700 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Connect
                </button>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center">
                  <a
                  class="text-gray-500 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                  href="https://www.facebook.com/muruganantham.ca"
                  target="_blank">
                  <i class="fab fa-facebook text-lg leading-lg"></i>
                  <span class="lg:hidden inline-block ml-2">Share</span>
                </a>
                </div>
                <div class="mr-4 p-3 text-center">
                  <a
                  class="text-gray-500 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                  href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter text-lg leading-lg"></i>
                  <span class="lg:hidden inline-block ml-2">Tweet</span>
                  </a>
                </div>
                <div class="lg:mr-4 p-3 text-center">
                  <a
                  class="text-gray-500 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                  href="https://www.google.com/" target="_blank">
                  <i class="fab fa-google text-lg leading-lg"></i>
                  <span class="lg:hidden inline-block ml-2">Google</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-12">
            <h3 class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2">
              Muruganantham SEENIVASAN
            </h3>
            <div class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"></i>
              Kunnathur, Tiruppur
            </div>
            <div class="mb-2 text-gray-700 mt-10">
              <i class="fas fa-briefcase mr-2 text-lg text-gray-500"></i>
              Income tax & GST Practitioner, MD - VSM 
            </div>
            <div class="mb-2 text-gray-700">
              <i class="fas fa-university mr-2 text-lg text-gray-500"></i>
              The Institute of Chartered Accountants of India (ICAI) - Coimbatore Chapter
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-gray-300 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-gray-800">
                  An avid student who has been passionately studying his career by learning from his experience as a Chartered Accountant, and is approaching his dream degree in the near future. 
                  Expert in auditing, accounting and taxation in the field of finance and marketing.
                </p>
                <a href="javascript:void(0)" class="font-normal text-red-600">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
