<footer
  class="pb-6"
  [ngClass]="absolute ? 'absolute w-full bottom-0 bg-gray-900' : 'relative'"
>
  <div class="container mx-auto px-4">
    <hr class="my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          Copyright © {{ date }} by
          <a
            href=""
            class="text-gray-600 hover:text-gray-900">
            Adhik TechLabs
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
