<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-transparent-lite shadow"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
      <a
        [routerLink]="['/home']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase"
      >
      <img
      alt="..."
      src="assets/img/VSM_Logo.png"
      class="shadow-lg mx-auto max-w-120-px"
    />
      </a>
      </li>
      <li class="flex items-center">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="relative flex w-full flex-wrap items-stretch max-h-18-px max-w-150-px mb-3">
          <input type="text" placeholder="Search" class="px-2 py-1 placeholder-gray-700 text-gray-400 relative bg-transparent-lite rounded text-sm border border-gray-700 outline-none focus:outline-none focus:shadow-outline w-full pr-10"/>
          <span class="z-10 h-full leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-2 py-1">
            <i class="fas fa-search"></i>
          </span>
        </div>
        </li>
        </ul>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }"
      id="example-navbar-warning"
    >
      <!-- <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-auth-navbar"
          >
            <i
              class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
            Docs
          </a>
        </li>
      </ul> -->
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">

        <li class="flex items-center">
          <button (click)="goToHome()" class="text-blue-200 font-bold px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Home
        </button>
      </li>
      <li class="flex items-center">
          <button (click)="goToServices()" class="text-blue-200 font-bold px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Our Services
        </button>
      </li>
          <li class="flex items-center">
              <button (click)="goToHelp()" class="text-blue-200 font-bold px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                Help
            </button>
          </li>
            <li class="flex items-center">
                <button (click)="goToAboutUs()" class="text-blue-200 font-bold px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                    About us
                </button>
              </li>
            <li class="flex items-center">
                <button (click)="goToContactUs()" class="text-blue-200 font-bold px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                  Contact us
              </button>
            </li>

        
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://m.facebook.com/VSM-Tax-Consultancy-408527932631208/"
            target="_blank"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-facebook text-lg leading-lg"
            ></i>
            <span class="lg:hidden inline-block ml-2">Share</span>
          </a>
        </li>

        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-angular%2F&text=Start%20your%20development%20with%20a%20Free%20Tailwind%20CSS%20and%20Angular%20UI%20Kit%20and%20Admin.%20Let%20Notus%20Angular%20amaze%20you%20with%20its%20cool%20features%20and%20build%20tools%20and%20get%20your%20project%20to%20a%20whole%20new%20level."
            target="_blank"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-twitter text-lg leading-lg"
            ></i>
            <span class="lg:hidden inline-block ml-2">Tweet</span>
          </a>
        </li>

        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://github.com/creativetimofficial/notus-angular?ref=na-auth-navbar"
            target="_blank"
          >
            <i
              class="lg:text-gray-300 text-gray-500 fab fa-linkedin text-lg leading-lg"
            ></i>
            <span class="lg:hidden inline-block ml-2">Link</span>
          </a>
        </li>

        <li class="flex items-center"><span class="inline-block ml-2">   </span></li>

         <li class="flex items-center" *ngIf="!isUserActive()">
          <button (click)="goToSignIn()" class="text-orange-500 bg-transparent border border-solid border-orange-500 hover:bg-orange-500 hover:text-orange active:bg-orange-600 font-bold text-xs px-3 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            <i class="fas fa-sign-in-alt"></i>   Login
          </button>
        </li>
        <li class="flex items-center" *ngIf="!isUserActive()">
          <button (click)="goToSignUp()" class="text-orange-500 bg-transparent border border-solid border-orange-500 hover:bg-orange-500 hover:text-orange active:bg-orange-600 font-bold text-xs px-3 py-1 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            <i class="fas fa-user-plus"></i> Sign-up
          </button>
        </li> 
        <li class="flex items-center"  *ngIf="isUserActive()">
          <app-pages-dropdown class="block"></app-pages-dropdown>
        </li>
      </ul>
    </div>
  </div>
</nav>
