<a
  class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
<div class="w-6/12 sm:w-4/12 px-4">
  <img
  alt="..."
  src="assets/img/Owner.jpg"
  class="shadow-lg rounded-full mx-auto max-w-35-px"
/>
</div>
</a>
<div
  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-18"
  [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  #popoverDropdownRef
>
  <span
    class="text-sm pt-2 pb-0 px-4 font-bold block w-full whitespace-no-wrap bg-transparent text-gray-500"
  >
    Muruganantham SEENIVASAN
  </span>
  <div class="h-0 mx-4 my-2 border border-solid border-gray-200"></div>
  <a
    [routerLink]="['/profile']"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800"
  >
    Profile
  </a>
  <a
    [routerLink]="['/home']"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800"
  >
    Home
  </a>
  <div class="h-0 mx-4 my-2 border border-solid border-gray-200"></div>
  <a [routerLink]="['/login']" (click)="logOut()"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800"
  >
    Logout
  </a>
</div>
