<app-auth-navbar></app-auth-navbar>
<main>
  <div #home
    class="relative pt-48 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('assets/img/tax-getty.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-36">
            <h1 class="text-white font-semibold text-5xl">
              An authorized leading Income-tax return preparer
            </h1>
            <p class="mt-4 text-lg text-gray-300">
              Let our Tax-experts help you file your tax return as an e-Return Intermediary. Get your tax-calculated and also save tax for the coming year by the updated calculator.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Trusted Agency</h6>
              <p class="mt-2 mb-4 text-gray-600">
                VSM a most trusted agency that serves customers with the idea of making ever-increasing tax filing headaches a thing of the past.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-user-shield"></i>
              </div>
              <h6 class="text-xl font-semibold">Quality Service</h6>
              <p class="mt-2 mb-4 text-gray-600">
                E-filing with our experts is easy, secure and fast. And you are assured of maximum refund, guaranteed.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
              >
                <i class="fas fa-check"></i>
              </div>
              <h6 class="text-xl font-semibold">Verified Company</h6>
              <p class="mt-2 mb-4 text-gray-600">
                We are authorized e-return intermediary of the Income tax Department, Government of India and we are committed to give you the best e-filing experience.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-8">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Working with us is a pleasure
          </h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
            We are a growing company as a team and we see this as a community service to people in need and seeking the help of experts.
          </p>
          <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
            Let our Tax-experts help you file your tax return as an e-Return Intermediary. Get your tax-calculated and also save tax for the coming year by the updated calculator.
          </p>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-500"
          >
            <img
              alt="..."
              src="assets/img/working.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-90,95 583,95 583,80"
                  class="text-red-500 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Top Notch Services
              </h4>
              <p class="text-md font-light mt-2 text-white">
                The service we provide you is very secure and incomparable. We are committed to meet all your needs in an efficient way.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section #aboutus class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="assets/img/get-shit-done.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
              <img
              alt="..."
              src="assets/img/Final_Logo.png"
              class="mx-auto max-w-210-px"
            />
            <br/>
            <p class="mt-4 text-lg leading-relaxed text-gray-600">
                VSM is an authorized e-return intermediary registered with the Income-tax Department, Government of India. It was started in the year 2018.
                <br/><br/>
                We have users from all over Tamilnadu and many from outside as well who prefer to use our services to file their tax return with ease. It is a project built on the idea to make the ever increasing tax filing headache a thing of the past. The website is very easy and intuitive to use.
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">
                        E-filing with our tool is easy, secure and fast. Upload Form-16 and file within 15 minutes.
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-sitemap"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">
                        We cover salary income, bank and other interest income, capital gains, house property income, business and professional income.
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-rupee-sign"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">
                        Start filing for free, and be assured of maximum refund, guaranteed.
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                      >
                        <i class="fas fa-anchor"></i>
                      </span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">
                          We are clearly the best tool for individuals to e-file their tax return.
                      </h4>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section #services class="pb-10 relative block bg-gray-200">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4 lg:pt-12 lg:pb-24">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-8/12 px-4">
          <h2 class="text-4xl font-semibold text-teal-500">
            Our Services
          </h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              As a growing service agent, in addition to filing tax return, we also offer a variety of services to meet different customer needs. If you need help other than the things listed below, you can contact us in person or through this portal. We are always happy to help you in any way you want.
          </p>
        </div>
      </div>

      <br/>
      <div class="flex flex-wrap">
      <div class="w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-teal-lite w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto shadow-lg cursor-pointer" (click)="goToForm()">
              <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-500"
            >
              <i class="fas fa-file-invoice text-xl"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-gray-700">
              Income Tax Filing
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
                Start your Income tax Return preparation and filing with an easy to use interface where you just answer simple questions and our system does the rest.
            </p>
          </div>
        </div>
      </div> 
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-teal-lite w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto shadow-lg cursor-pointer" (click)="goToForm()">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-purple-500">
              <i class="fas fa-anchor"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-gray-700">
                Advance-tax Estimator
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
                Calculate your Advance-tax liability. Just enter your Income, Investment and Tax Paid details to calculate your tax liability and make payments accordingly.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-teal-lite w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto shadow-lg cursor-pointer" (click)="goToForm()">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
              <i class="fas fa-search-dollar"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-gray-700">
                Check Refund Status
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
                Check Income tax refund status year wise. It is important to keep a record for refunds and here is a convenient place to find out for all the years when return is e-filed.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-teal-lite w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto shadow-lg cursor-pointer" (click)="goToForm()">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-yellow-500">
              <i class="fas fa-calculator"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-gray-700">
                Tax Calculator
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
                Calculate Income-tax payable accurately. Just enter Income details, Investment details and Tax paid details to calculate tax liability.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-teal-lite w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto shadow-lg cursor-pointer" (click)="goToForm()">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-700">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-gray-700">
                Notice Assistance
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
                Received an Income tax notice? Do not worry! We can help you deal with it! Simply leave it on our tax experts who will assist you, provide proper advice to handle and resolve.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words bg-teal-lite w-full mb-8 shadow-lg rounded-lg">
          <div class="px-4 py-5 flex-auto shadow-lg cursor-pointer" (click)="goToForm()">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-pink-500">
              <i class="fas fa-medal"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-gray-700">
                Others
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
              In addition to income tax services, we also involve ourselves in other social activities such as PAN card request, New Government Ration card registration, etc..
            </p>
          </div>
        </div>
      </div>
      </div>

    </div>
  </section>

  <section #help class="relative bg-gray-900">
      <div
        class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
        style="transform: translateZ(0);"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-900 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
      <div class="container mx-auto lg:pb-24">
        <div class="flex flex-wrap items-center">
          <div
            class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
          >
          <br/><br/><br/><br/><br/><br/><br/><br/>
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-500"
            >
              <img
                alt="..."
                src="assets/img/question-mark.jpg"
                class="w-full align-middle rounded-t-lg"
              />
              <blockquote class="relative p-8 mb-4">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 w-full block h-95-px -top-94-px"
                >
                  <polygon
                    points="-30,95 583,95 583,65"
                    class="text-red-500 fill-current"
                  ></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">
                  Have questions? Or need help?
                </h4>
                <p class="text-md font-light mt-2 text-white">
                  We help you file your tax return in a very easy question and answer way. We also help you with post tax filing queries and notices.
                </p>
              </blockquote>
            </div>
          </div>
    
          <div class="w-full md:w-6/12 px-4">
            <div class="flex flex-wrap">
              <div class="w-full md:w-6/12 px-4">
                <div class="relative flex flex-col mt-4">
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                    >
                      <i class="fas fa-sitemap"></i>
                    </div>
                    <h6 class="text-xl mb-1 font-semibold text-teal-500">
                        Linking Aadhaar with PAN
                    </h6>
                    <p class="mb-4 text-gray-600">
                        Follow these steps to easily link your PAN with Aadhaar without logging into the Department of income tax (DIT) website.
                    </p>
                    <h6 class="text-sm mb-1 text-blue-600 underline">
                        Read More
                    </h6>
                  </div>
                </div>
                
                <div class="relative flex flex-col min-w-0">
                    <div class="px-4 py-5 flex-auto">
                        <div
                          class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                        >
                        <i class="fas fa-file-alt"></i>
                        </div>
                        <h6 class="text-xl mb-1 font-semibold text-teal-500">
                            Upload Form 16 to file your Income tax return
                        </h6>
                        <p class="mb-4 text-gray-600">
                            Form 16 is a certificate issued by employer to his employee. Here is a step by step guide to file your tax return by uploading your Form 16.
                        </p>
                        <h6 class="text-sm mb-1 underline text-blue-600">
                            Read More
                        </h6>
                      </div>
                </div>
              </div>
              <div class="w-full md:w-6/12 px-4">
                <div class="relative flex flex-col min-w-0 mt-4">
                    <div class="px-4 py-5 flex-auto">
                        <div
                          class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                        >
                        <i class="fas fa-newspaper"></i>
                        </div>
                        <h6 class="text-xl mb-1 font-semibold text-teal-500">
                            Penalty for delay in filing Income tax return
                        </h6>
                        <p class="mb-4 text-gray-600">
                            Under Section 234F, a fee (penalty) is levied if the Income-tax return is not filed within due date. It is payable before filing of Income-tax return.
                        </p>
                        <h6 class="text-sm mb-1 underline text-blue-600">
                            Read More
                        </h6>
                      </div>
                </div>
                <div class="relative flex flex-col min-w-0">
                    <div class="px-4 py-5 flex-auto">
                        <div
                          class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                        >
                        <i class="fas fa-drafting-compass"></i>
                        </div>
                        <h6 class="text-xl mb-1 font-semibold text-teal-500">
                            How to pay advance-tax online?
                        </h6>
                        <p class="mb-4 text-gray-600">
                            Advance Tax is required to be paid if the tax liability, after deducting prepaid taxes like TDS, relief is Rs. 10,000/- or more.
                        </p>
                        <h6 class="text-sm mb-1 underline text-blue-600">
                            Read More
                        </h6>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap">
          <div class="w-full">
              <h4 class="text-xl font-semibold text-white">
                  &nbsp;&nbsp;&nbsp;&nbsp; FAQ's
              </h4><br/>
            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                <a class="text-xs font-bold px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(1)" [ngClass]="{'text-teal-500 bg-gray-200': openTab !== 1, 'text-white bg-teal-500': openTab === 1}">
                  What is Income tax?
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                <a class="text-xs font-bold px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(2)" [ngClass]="{'text-teal-500 bg-gray-200': openTab !== 2, 'text-white bg-teal-500': openTab === 2}">
                  What is Form 16?
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                <a class="text-xs font-bold px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(3)" [ngClass]="{'text-teal-500 bg-gray-200': openTab !== 3, 'text-white bg-teal-500': openTab === 3}">
                  What is Income tax return?
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                <a class="text-xs font-bold px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(4)" [ngClass]="{'text-teal-500 bg-gray-200': openTab !== 4, 'text-white bg-teal-500': openTab === 4}">
                  Why should you File?
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                <a class="text-xs font-bold px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(5)" [ngClass]="{'text-teal-500 bg-gray-200': openTab !== 5, 'text-white bg-teal-500': openTab === 5}">
                  What if I do not file?
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
                <a class="text-xs font-bold px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(6)" [ngClass]="{'text-teal-500 bg-gray-200': openTab !== 6, 'text-white bg-teal-500': openTab === 6}">
                  Common mistakes!!
                </a>
              </li>
            </ul>
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="px-4 py-5 flex-auto bg-gray-200">
                <div class="tab-content tab-space">
                  <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                    <p class="text-sm font-bold">
                      There are two types of taxes in India – direct tax and indirect tax.
                      Direct tax is a tax that is calculated and paid directly on your Income e.g. tax on salary etc. Income tax is a direct tax.
                      Indirect tax is a tax that is indirectly charged to you on purchase of goods or use of service e.g. Buying a mobile phone or eating in a fast food joint. The seller of the mobile phone or the fast food service provider charges you tax and then deposits the same to the Government account. Most indirect taxes are now covered under Goods and Services Tax (GST).
                      <br/><br/>
                      Everyone who earns income above a certain amount is subject to income tax. Your income could be from salary, interest income from savings, income from mutual funds, sale of property or business or professional income. Income tax rates are pre-decided at the start of the year in the Union Budget (in the Parliament of India). The tax paid or deducted on these incomes is called the income tax.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                      <p class="text-sm font-bold">
                      Form 16 is a TDS certificate that an employer issues to you when TDS is deducted by the employer. An employer is required to deduct tax at source (therefore the name TDS - Tax Deducted at Source) when the employer pays salary to the employee (you). The employer deducts this tax on behalf of the Government and after deducting deposits the tax to the Government. The employer is then required to give a certificate to the employee giving the details of tax deducted. This certificate is called the Form 16.
                      <br/><br/>
                      In case no TDS has been deducted by the employer they may not issue you a Form 16.
                      <br/><br/>
                      You will require your Form 16 from your employer to file your tax return. You can directly upload your Form 16 and file your income tax return quickly.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                      <p class="text-sm font-bold">
                      An income tax (IT) return is an income tax form which you need to fill and submit it electroncially to the Income tax Department. In this form you need to give details of your income and taxes (taxes - that you may have paid or other people who may have deducted your tax). The income tax return forms are in various formats viz ITR-1, ITR-2 etc. Each form depicts a separate category of Income tax payers. You need not worry of your category as myITreturn handles it for you automatically.
                      <br/><br/>
                      Remember, Income tax is a Direct tax and you need to only report Direct Income (salary, pension, interest etc) and taxes paid on that Income. The tax return formats are predefined formats by the Central Board of Direct Taxes (CBDT- which is also called the Income tax Department).
                      <br/><br/>
                      The tax returns must be filed every year and must be filed by a specific date. If the return shows excess tax has been paid during a given year, you are eligible for a ‘income tax refund’, subject to the department’s interpretations and calculations.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 4, 'block': openTab === 4}">
                      <p class="text-sm font-bold">
                        Many think that filing tax returns is optional and therefore dismiss it as unnecessary and burdensome. Filing tax returns is an annual event and is a moral and social duty of every responsible citizen.
                        <br/><br/>
                        <i>Filing returns is a sign that you are responsible</i><br/>
                        The government mandates that individuals who earn a specified amount of annual income must file a tax return. Failure to pay income tax and file the income tax return will invite penalties from the Income Tax Department.
                        <br/><br/>
                        Those who earn less than the prescribed level of income can file their income tax return voluntarily.
                        <br/><br/>
                        Your loan or credit card company may want to see your income tax return
                        If you plan to apply for a home loan in future it is a good idea to maintain a steady record of filing income tax returns as the home loan company will most likely insist on it as a proof of steady income. In fact, you may even consider filing your spouse’s returns if you want to apply for a loan as a co-borrower. (myITreturn allows yu to handle your family income tax returns from a single login.) Even a credit card company may insist on proof of income tax return before issuing a credit card.
                        <br/><br/>
                        Financial institutions may insist on seeing your returns over the past few years before transacting with you. In fact, the government may make it mandatory for them to do so, thereby indirectly nudging individuals to file returns regularly even when it’s voluntary.
                        <br/><br/>
                        If you want to claim adjustment against past losses, a return is necessary
                        Various losses incurred by an individual or a business cannot be shown for exemption in subsequent years for the purpose of tax calculation if your return is not filed. These losses could be both speculative as well as non-speculative, short term as well as long term capital losses and various other types of losses not recorded in the income tax return in a financial year. So it’s best to file returns regularly, because you never know when you may want to claim an adjustment against past losses.
                        <br/><br/>
                        Filing income tax returns may prove useful in case of revised returns
                        In case the assessee has not filed the original return, he cannot later file a revised return. Under the Income Tax Act, non-filing of returns can attract a penalty of Rs 5,000.
                     </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 5, 'block': openTab === 5}">
                      <p class="text-sm font-bold">
                        In case you do not file, the Income tax Department will send you a notice asking you to file your return and may ask you to pay a penalty for not filing your income tax return. You will not be given your refund. If you are found to owe the government taxes, the interest on the base tax keeps adding up till you pay.
                        <br/><br/>
                        If you are found to owe the government taxes money, then the interest keeps adding up till you pay. A penalty may also be levied.
                        <br/><br/>
                        A new section 234F has been inserted in Income Tax Act, 1961 with effect from Assessment Year 2018-19 (Financial Year 2017-18). Under this section, fee (penalty) is levied if the Income-tax return is not filed within due date. Earlier penalty for delay in filing of return was levied at the discretion of Assessing Officer. But now, the same is payable before filing of Income-tax return.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 6, 'block': openTab === 6}">
                      <p class="text-sm font-bold">
                        Listed below are some of the most common tax filing mistakes you must avoid.
                        <br/><br/>
                        Not reporting all the sources of income
                        The most common mistake tax payers make is failing to report all the sources of their income. One type of income that is forgotten by many individuals is interest earned on a bank savings account and on Fixed Deposits (FDs). This income is taxable according to your respective tax slab. Usually banks deduct 10 percent as Tax Deductible at Source (TDS) on the interest income earned on FDs. However, if you fall under a higher tax slab of say, 30 percent, you are liable to pay tax accordingly. Not reporting these incomes might attract a notice from the income tax department.
                        <br/><br/>
                        In addition, if you have changed your job recently, make sure that you report the income earned through your previous employer as well.
                        <br/><br/>
                        Also, any income earned by a minor through investments is taxable according to the tax slab of the parent with higher income. The income of the minor is clubbed with that parent’s income while computing net taxable amount. In case you have made investments in your children’s name, keep this in mind while filing your taxes.
                        <br/><br/>
                        Not paying tax on house property
                        Many people assume that there is no income from multiple residential properties and thus there is no tax payable; however, this is a misconception.If you own more than one house, you are liable to pay a certain amount as tax, even if you have not earned any income from it or if it is unoccupied. Tax is not payable only for the house that you occupy. Income is to be attributed to all other houses and tax on house property is payable by you.
                        <br/><br/>
                        Providing incorrect postal and email address
                        Since all the necessary information is communicated by the income tax department via email or post, it is extremely important to enter these details correctly before filing your taxes. A minor mistake in filling these details means that you may miss important notifications. So check and re-check your postal and email address when you file your income tax.
                        <br/><br/>
                        Not reporting income that is exempt
                        Many types of incomes like long-term gains, dividends, etc. are exempt from tax. Although you do not have to pay any taxes on such incomes, it is important to report them. Remember that the brokerage house or investment company will send these details to the income tax department.
                        <br/><br/>
                        Not checking the form before filing
                        Whether you have filled your forms manually or online, mistakes are bound to happen. It therefore makes sense to check the filled-up form thoroughly in order to avoid errors. Even if your tax consultant or accountant fills the details on your behalf, you need to personally check the form to ensure accuracy of the information.
                        <br/><br/>
                        Remember that simply taking personal interest in the tax filing process can help you avoid most of these mistakes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section #contactus class="pb-10 relative block">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
          style="transform: translateZ(0);"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
    
        <div class="container mx-auto px-4 lg:pt-12 lg:pb-24">
          


          <div class="flex flex-wrap items-center mt-4">
          <div class="w-full md:w-6/12 mr-auto ml-auto">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-3/12 px-4 justify-right">
                  <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
                    <i class="fas fa-phone text-xl"></i>
                  </div>
                </div>
                <div class="w-full lg:w-8/12 px-4 justify-left">
                  <h3 class="text-3xl mb-2 font-semibold leading-normal">
                      Contact Us
                    </h3>
                </div>
              </div>
            <p class="text-lg font-light leading-normal mt-4 mb-4 text-gray-700">
              We help you file your tax return in a very easy question and answer way. We also help you with post tax filing queries and notices.
            </p>
            <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                      >
                        <i class="far fa-envelope"></i>
                      </span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">
                        muruganantham.ca@gmail.com
                      </h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                      >
                        <i class="fas fa-mobile-alt"></i>
                      </span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">(+91) 9688220864</h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                      >
                        <i class="fas fa-map-marker-alt"></i>
                      </span>
                    </div>
                    <div>
                      <h4 class="text-gray-600">
                        Vee yeS yeM Associates (Income Tax & GST Practitioner) <br/>
                        #199C, First Floor, Mythili Complex <br/>
                        Sub Registrar Office South side, Uthukuli Rd<br/>
                        Kunnathur, Tamil Nadu 638103<br/>
                      </h4>
                    </div>
                  </div>
                </li>
              </ul>
              <br/>
            <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <a
                  href="https://www.google.com/maps/place/Vee+yeS+yeM+Associates+(Income+Tax+%26+GST+Practitioner)/@11.2715607,77.410375,19z/data=!4m8!1m2!2m1!1skunnathur+sub+registrar+office!3m4!1s0x0:0x667e60789b0bf55f!8m2!3d11.2715429!4d77.4104745"
                  target="_blank"
                >
                  <img
                  alt="..."
                  class="max-w-full rounded-lg"
                  src="assets/img/google-map.PNG"/>
                  </a>
                </div>
                <div class="w-full lg:w-4/12 px-4  justify-right cursor-pointer" (click)="goToProfile()">
                      <img
                        alt="..."
                        src="assets/img/Owner.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-120-px"
                      />
                      <div class="pt-6 text-center">
                        <h5 class="text-xl font-bold">Muruganantham</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                          Founder and CEO
                        </p>
                        <div class="mt-6">
                          <button
                            class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                          >
                            <i class="fab fa-facebook"></i>
                          </button>
                          <button
                            class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                          >
                            <i class="fab fa-linkedin"></i>
                          </button>
                          <button
                            class="bg-blue-200 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                          >
                            <i class="fab fa-twitter"></i>
                          </button>
                          <button
                            class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                          >
                            <i class="fab fa-instagram"></i>
                          </button>
                        </div>
                    </div>
                </div>
              </div>
          </div>
  
          <div class="w-full md:w-5/12 mr-auto ml-auto">
            <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
          >
            <div class="flex-auto p-5 lg:p-10">
              <h4 class="text-2xl font-semibold">
                You want us to contact you?
              </h4>
              <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                Complete this form and we will get back to you in 24 hours
              </p>
              <div class="relative w-full mb-3 mt-8">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="full-name"
                >
                  Full Name
                </label>
                <input
                  type="text"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Full Name"
                />
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="email"
                >
                  Email
                </label>
                <input
                  type="email"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Email"
                />
              </div>
              
                <div class="relative w-full mb-3">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="phone">
                   Phone
                  </label>
                  <input type="text"
                    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                    placeholder="Phone"/>
                 </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="message"
                >
                  Message
                </label>
                <textarea
                  rows="4"
                  cols="80"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                  placeholder="Type a message..."
                ></textarea>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Send Message
                </button>
              </div>
            </div>
          </div>
          </div>
        </div>

    </div>
  </section>
</main>
<app-footer></app-footer>
