<app-auth-navbar></app-auth-navbar>
<main>
  <div #home
    class="relative pt-48 pb-32 flex content-center items-center justify-center min-h-screen-30"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('assets/img/taxstructure.png');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>
  
  <section class="pb-20 -mt-24">
   
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="px-4 md:px-11 mx-auto w-full -m-24">
          <app-basic-form></app-basic-form>
          <br/><br/><br/>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
      